%a{ href: '#', onclick: "back()" } Back
%br

- if @models
  - @models.each do |model|
    %a{ href: "/#{@brand}/#{model}".downcase }
      = model
    %span= ' '

%hr
- @cars.each do |car|
  %div
    %a{ href: "#{car[:link]}", rel: "noopener", target: "_blank" }
      = car[:label].split(' ').map(&:capitalize).join(' ')
    %b= car[:price]
