%a.btn.btn-primary{ href: '/motos'} Back
%br

- if @models
  %br
  %ul.list-inline
    - @models.each do |model|
      %li.list-inline-item
        %a{ href: "/motos/#{@brand}/#{model}".downcase }
          = model

%hr
%ul.list-group
  - @vehicles.each do |vehicle|
    %li.list-group-item
      %a{ href: "#{vehicle[:link]}", rel: "noopener", target: "_blank" }
        = vehicle[:label].slice(0,1).capitalize + vehicle[:label].slice(1..-1)
      %b= vehicle[:price]
